    @import '~bootstrap/scss/bootstrap';


    body{
        background-color: black;
        h1{
            color:cornflowerblue; 
        }

        h2{
            color:greenyellow
        }

    }

    .card{
        height: 400px;    

        background-color: grey
    }
